body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.products {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
.product {
  background-color: antiquewhite;
  padding: 2rem;
}

.btn{
  cursor: pointer;
  color: crimson;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
